{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX with Go - ToDo App</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-gray-900 text-gray-100 min-h-screen">
    <div class="mx-auto max-w-2xl flex flex-col gap-4 my-4">
      <div class="flex gap-6 justify-between items-center">
        <h2 class="text-4xl font-semibold">Task list</h2>

        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          hx-target="#modal-content"
          hx-get="/fragment/addTaskForm"
          onclick="toggleModal()"
        >
          Add Task
        </button>
      </div>

      <div id="taskList" hx-trigger="load" hx-get="/fragment/todoList"></div>
    </div>

    <div
      tabindex="-1"
      id="modal-container"
      aria-modal="true"
      role="dialog"
      class="flex hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-600/40 dark:bg-gray-800/60"
      onclick="handleClickOutsideForm(event)"
    >
      <div class="m-auto relative p-4 w-full max-w-2xl max-h-full">
        <div
          id="modal-content"
          class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700"
          onclick="event.stopPropagation()"
        ></div>
      </div>
    </div>

    <script>
      const modalContainerElem = document.querySelector("div#modal-container");

      function toggleModal() {
        if (modalContainerElem.classList.contains("hidden")) {
          modalContainerElem.classList.remove("hidden");
        } else {
          modalContainerElem.classList.add("hidden");
        }
      }

      function handleClickOutsideForm(e) {
        e.target.classList.add("hidden");
      }
    </script>
  </body>
</html>
{{ end }}
