{{ define "updateTaskForm" }}
<div
  class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
>
  <h2 class="text-4xl font-semibold">Update Task Form</h2>
</div>

<div class="p-4 md:p-5 space-y-4">
  <form
    class="grid grid-cols-[1fr_minmax(min-content,_150px)] items-center gap-x-4"
  >
    <div>
      <label
        for="task"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Task name
      </label>
      <input
        type="text"
        name="task"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Create another todo item"
        value="{{ .Task }}"
        required
      />
    </div>

    <div class="flex items-center">
      <input
        {{if
        .Done}}
        checked
        {{end}}
        type="checkbox"
        name="done"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label
        for="checked-checkbox"
        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >
        Done
      </label>
    </div>

    <div
      class="mt-4 pt-4 gap-4 col-span-full grid grid-cols-2 items-center border-t border-gray-200 rounded-b dark:border-gray-600"
    >
      <button
        data-modal-hide="default-modal"
        type="button"
        class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        onclick="closeModal()"
      >
        Cancel
      </button>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        hx-post="/tasks/{{ .Id }}"
        hx-target="#taskList"
      >
        Save
      </button>
    </div>
  </form>
</div>
{{ end }}
